@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lista de Videojuegos";
}
<title>@ViewData["Title"] - Videojuegos App</title>
<h2>Nuestra lista de videojuegos</h2>
<p>Hola desde nuestra plantilla vista!</p>