@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1
        <h2>Elaborado por: Angel Jimenez Emiliano y Nava Ibarra Joshua Sinuhe </h2>
        <h2></h2>
    <p>Acerca de <a href="https://docs.microsoft.com/aspnet/core">construir apps con ASP.NET Core</a>.</p>
</div>
